<form [formGroup]="developerForm"
      (ngSubmit)="onSubmit(focusme)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input class="form-control"
           #focusme
           formControlName="firstName"
           name="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control"
           formControlName="lastName"
           name="lastName">
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <select class="form-control"
            formControlName="department">
      <option value="ero">ERO</option>
      <option value="claims">Claims</option>
      <option value="quoting">Quoting</option>
    </select>
  </div>
  <div class="form-group">
    <label for="emailAddress">Email Address</label>
    <input type="email"
           class="form-control"
           formControlName="emailAddress">
    <div class="alert alert-danger"
         *ngIf="(emailAddress.dirty || emailAddress.touched)  && emailAddress.errors">
      {{emailAddress.errors | json}}
      <div *ngIf="emailAddress.errors['required']"> You have to give a email</div>
      <div *ngIf="emailAddress.errors['email']"> You have to give a REAL email</div>
      <div *ngIf="emailAddress.errors['jerk']"> we don't hire jerks</div>
    </div>
  </div>
  <input type="submit"
         value="Add Developer"
         class="btn btn-primary">
  <div class="alert alert-danger"
       *ngIf="hasErrors">
    Fix Your Errors.
  </div>
</form>


<pre>{{developerForm.valid | json}}</pre>
