<div class="row"
     *ngIf="(developersLoaded$ | async) === true">
  <div class="col">
    <app-developer-entry></app-developer-entry>
  </div>
  <div class="col">
    <app-developer-list-sorter></app-developer-list-sorter>
    <app-developer-list [developers]="devs$ | async"></app-developer-list>
  </div>
</div>
<div class="alert alert-danger"
     *ngIf="(developersLoaded$ | async) === false">
  <h1>The developers are getting loaded. Be with you soon.</h1>
  <img src="https://media3.giphy.com/media/xTkcEQACH24SMPxIQg/giphy.gif?cid=790b76115cb73640397347614955212c">
</div>
